<!DOCTYPE html>
<html>
    {{ partial "header.html" . }}
    <body>
        <div class="content">
            {{ partial "head.html" . }}
            
            <main class="list">
                <section class="list-item">
					<h1> Hey there.</h1>
						
					</p>I'm Daniel Chen. I'm curious about people, technology and economics.<p>
				
					</p>Currently, based in San Francisco. Previously, Copenhagen 🇩🇰, Abu Dhabi 🇦🇪, New York 🗽, and Hong Kong 🇭🇰. <p>
					
					</p> Connect with me at chenaciousD at gmail dot com</p>
                </section>
            </main>
            {{ partial "footer.html" . }}
        </div>
        
    </body>
</html>

