<!DOCTYPE html>
<html>
    {{ partial "header.html" . }}
    <body>
        <div class="content">
            {{ partial "head.html" . }}
            
            <main class="list">
                <section class="list-item">
                    <h1 id="animatedText0"></h1>
                    <p id="animatedText1"></p>
                    <p id="animatedText2"></p>
                    <p id="animatedText3"></p>
                    <p id="animatedText4"></p>
                </section>
            </main>
            {{ partial "footer.html" . }}
        </div>

        <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>
        <script>
            var options0 = {
                strings: ["Hey, I'm Daniel."],
                typeSpeed: 30,
                startDelay: 100,
                showCursor: false,
                onComplete: function() {
                    var typed1 = new Typed('#animatedText1', options1);
                }
            };

            var options1 = {
                strings: ["I'm a consultant.", "I'm a financial analyst.", "I'm a product manager - former powerpoint puppet and excel monkey."],
                typeSpeed: 25,
                backSpeed: 20,
                backDelay: 100,
                smartBackspace: true,
                showCursor: false,
                onComplete: function() {
                    var typed2 = new Typed('#animatedText2', options2);
                }
            };

            var options2 = {
                strings: ["Curious about people, technology and economics."],
                typeSpeed: 30,
                startDelay: 100,
                showCursor: false,
                onComplete: function() {
                    var typed3 = new Typed('#animatedText3', options3);
                }
            };

            var options3 = {
                strings: ["Based in SF. Previously, CPH 🇩🇰, AUH 🇦🇪, NYC 🗽, and HKG 🇭🇰."],
                typeSpeed: 30,
                startDelay: 100,
                showCursor: false,
                onComplete: function() {
                    var typed4 = new Typed('#animatedText4', options4);
                }
            };

            var typed0 = new Typed('#animatedText0', options0);
        </script>
    </body>
</html>

