<!DOCTYPE html>
<html>
    {{ partial "header.html" . }}
    <body>
        <div class="content">
            {{ partial "head.html" . }}
            
            <main class="list">
                <section class="list-item">
                    <h1>Hej!</h1>
                    
					</p>I'm curious about people, technology and economics.<p>

					</p>Based in SF. Previously, Copenhagen, Abu Dhabi, New York and Hong Kong. <p>
					
					</p> I love working with Go, JavaScript, and Python, and I'm always looking for new projects to contribute to.</p>
                </section>
            </main>
            {{ partial "footer.html" . }}
        </div>
        
    </body>
</html>